spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:config/telemetry/{application}
            - classpath:config/commerce/{application}

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, mappings

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/
  instance:
    instance-id: "${spring.application.name}:${random.value}"
    leaseRenewalIntervalInSeconds: 10